#q-box {
    border: 1px solid rgb(95, 221, 215);
    height: 100px;
    border-radius: 20px;
    width: 70vw;
}

#input {
    border-radius: 10px;
    border: 1px solid gray;
    width: 50vw;
}

#categories {
    border: 1px solid rgb(95, 221, 215);
    border-radius: 10px;
    width: 25vw;
    position: absolute;
    right: 0;
    top: 75px;
}

#poll-container {
    border: 2px solid grey;
    border-radius: 10px;
    width: 70vw;
}

#image {
    width: 300px;
    height: 300px;
    background-image: url('assets/image-1.jpg');
    background-size: cover;
    background-position: center;
    margin: 10px;
}

#video {
    width: 400px;
    height: 350px;
}

header{
    border-bottom: 1px solid grey;
    margin: 10px;
    padding: 10px;
}

#header-text {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(28, 185, 62);
}

.option {
    border: 1px solid rgb(28, 184, 36);
    margin: 2px;
    border-radius: 10px;
}

.option:hover {
    background-color: rgb(76, 248, 119);
    cursor: pointer;
}

#btnAsk {
    border: none;
    border-radius: 10px;
    background-color: rgb(28, 184, 36);
    width: 50px;
    height: 35px;
}

#btnAsk:hover {
    cursor: pointer;
    background-color: rgb(27, 146, 33);
    color: aliceblue;
}

.header-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

#view-result:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    #q-box {
        border: 1px solid rgb(95, 221, 215);
        height: 140px;
        border-radius: 20px;
        width: 60vw;
    }
    
    #input {
        border-radius: 10px;
        border: 1px solid gray;
        width: 40vw;
    }
    
    #categories {
        border: 1px solid rgb(95, 221, 215);
        border-radius: 10px;
        width: 35vw;
        position: absolute;
        left: 62vw;
        top: 75px;
    }
    
    #poll-container {
        border: 1px solid grey;
        border-radius: 10px;
        width: 60vw;
    }

    .btn {
        padding: 3px;
        margin-left: 5px;
    }

    ul {
        list-style: none;
    }
}